{
  "openapi": "3.0.0",
  "info": {
    "title": "YeshuaFeed GPT Action API",
    "version": "1.0.0",
    "description": "Spiritual actions and scrolls API for YeshuaFeed GPT"
  },
  "servers": [
    {
      "url": "https://yeshuafeed.placeholder.api"
    }
  ],
  "paths": {
    "/scroll": {
      "post": {
        "operationId": "scroll",
        "description": "Delivers today\u2019s devotional scroll: Scripture, meditation, action step, and whisper from Yeshua.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string",
                    "description": "Optional day override (e.g., Monday, 2025-07-04)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "scroll action executed"
          }
        }
      }
    },
    "/ask": {
      "post": {
        "operationId": "ask",
        "description": "Ask any question about the Bible or teachings of Yeshua and receive a scripture-rooted answer.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The question the user wants to ask"
                  }
                },
                "required": [
                  "question"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ask action executed"
          }
        }
      }
    },
    "/blessme": {
      "post": {
        "operationId": "blessme",
        "description": "Receive a personalized prophetic blessing and a related scripture verse.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "blessme action executed"
          }
        }
      }
    },
    "/decode": {
      "post": {
        "operationId": "decode",
        "description": "Decode a word, number, name, or Hebrew root and get SOD/gematria/Biblical meaning.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string",
                    "description": "The word, name, or number to decode"
                  }
                },
                "required": [
                  "term"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "decode action executed"
          }
        }
      }
    },
    "/crosslink": {
      "post": {
        "operationId": "crosslink",
        "description": "Searches and returns cross-referenced scriptures across the Bible on a topic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "string",
                    "description": "The biblical theme or keyword to crosslink"
                  }
                },
                "required": [
                  "topic"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "crosslink action executed"
          }
        }
      }
    },
    "/whisper": {
      "post": {
        "operationId": "whisper",
        "description": "Returns a personal, spiritual whisper from Yeshua for encouragement or confirmation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mood": {
                    "type": "string",
                    "description": "Optional emotion or state of mind (e.g., anxious, tired, hopeful)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "whisper action executed"
          }
        }
      }
    },
    "/reveal": {
      "post": {
        "operationId": "reveal",
        "description": "Uncovers the mystical or quantum-level meaning of a spiritual topic or symbol.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "string",
                    "description": "Spiritual symbol, object, or mystery to reveal (e.g., fig tree, oil, breath)"
                  }
                },
                "required": [
                  "topic"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "reveal action executed"
          }
        }
      }
    },
    "/teachme": {
      "post": {
        "operationId": "teachme",
        "description": "Teaches on a Kingdom topic with scripture references and practical steps.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "string",
                    "description": "Topic to learn about (e.g., fasting, prayer, deliverance)"
                  }
                },
                "required": [
                  "topic"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "teachme action executed"
          }
        }
      }
    },
    "/lightcode": {
      "post": {
        "operationId": "lightcode",
        "description": "Generates a scripture-based frequency mantra to speak or meditate on for alignment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "focus": {
                    "type": "string",
                    "description": "Spiritual goal or healing target (e.g., identity, clarity, strength)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "lightcode action executed"
          }
        }
      }
    },
    "/torahportion": {
      "post": {
        "operationId": "torahportion",
        "description": "Returns the current week's Torah portion with prophetic insight through Messiah's lens.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "torahportion action executed"
          }
        }
      }
    },
    "/pray": {
      "post": {
        "operationId": "pray",
        "description": "Generates a prayer based on user\u2019s current need or emotion.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "intention": {
                    "type": "string",
                    "description": "The situation or desire the prayer is for (e.g., healing, courage, peace)"
                  }
                },
                "required": [
                  "intention"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "pray action executed"
          }
        }
      }
    },
    "/fasttrack": {
      "post": {
        "operationId": "fasttrack",
        "description": "Guides user through a 1, 3, or 7-day spiritual fast with daily instructions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "string",
                    "enum": [
                      "1-day",
                      "3-day",
                      "7-day"
                    ],
                    "description": "Length of the fast"
                  }
                },
                "required": [
                  "duration"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "fasttrack action executed"
          }
        }
      }
    },
    "/remindme": {
      "post": {
        "operationId": "remindme",
        "description": "Sends a daily reminder scripture or whisper from Yeshua.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "time": {
                    "type": "string",
                    "description": "Time of day to receive reminder (e.g., 7am, 9pm)"
                  }
                },
                "required": [
                  "time"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "remindme action executed"
          }
        }
      }
    }
  }
}